.collapsible {
    background-color: #71797f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

.bar {
    width: 50vw; 
    margin-right: 75em;
    padding-bottom: 5em;
    background: rgb(255, 255, 255);

}
@media screen and (max-width: 760px) {
    .bar {
        width: 100%; 
    }
    }

  .masthead {
    background-color: #FFFFFF;
  }
  .imageright {
    position: fixed;
    top: 0;
    left: 77em;
    right: 0;
    width: 20vw;
    height: 100vh;
    background-color: black;
    background-size: auto;
    background-position: center;
    z-index: -1;
  }

  .imageleft {
    position: fixed;
    top: 0;
    left: o;
    right: 77em;
    width: 20vw;
    height: 100vh;
    background-color: black;
    background-size: auto;
    background-position: center;
    z-index: -2;
  }